#revision-notification .input-group{
    display: table; 
    width: 100%;
}
#revision-notification .input-group > div{
    display: table-cell;
}
#revision-notification .input-group #notify_email{
    width: 100%;
}
#revision-notification .input-group .btn-notify{
    vertical-align: middle; 
    margin-left: -1px; 
    box-shadow: none;
}
#revision-notification .input-group .btn-notify[disabled]{
    pointer-events: none;
    opacity: 0.7;
}