.banner-wrap {
  filter: drop-shadow(0px 10px 5px rgba(80, 80, 80, 0.3)); }
  .banner-wrap .ratio {
    width: 100%;
    display: none; }
    @media (orientation: landscape) {
      .banner-wrap .ratio.ratio_l {
        display: block; } }
    @media (orientation: portrait) {
      .banner-wrap .ratio.ratio_p {
        display: block; } }

.banner-slide {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute; }
  .banner-slide * {
    position: relative; }
  .banner-slide .slider {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
    .banner-slide .slider .item {
      font-family: marvel, serif;
      letter-spacing: 0;
      height: 100%;
      width: 100%; }
      .banner-slide .slider .item p {
        font-weight: bold;
        margin: 0;
        line-height: 1; }
      .banner-slide .slider .item .foto {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background-size: cover;*/
        /*object-fit: cover;*/ }
        .banner-slide .slider .item .foto img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .banner-slide .slider .item .foto:before {
          content: attr(data-content);
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
      .banner-slide .slider .item .banner-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
        .banner-slide .slider .item .banner-item.top {
          top: 10%;
          bottom: auto; }
        .banner-slide .slider .item .banner-item.middle {
          top: 50%;
          bottom: auto;
          transform: translateY(-50%); }
          .banner-slide .slider .item .banner-item.middle.center {
            transform: translateX(-50%) translateY(-50%); }
        .banner-slide .slider .item .banner-item.bottom {
          top: auto;
          bottom: 50%; }
        .banner-slide .slider .item .banner-item.left {
          left: 10%;
          right: auto; }
        .banner-slide .slider .item .banner-item.center {
          left: 50%;
          right: auto;
          transform: translateX(-50%); }
        .banner-slide .slider .item .banner-item.right {
          left: auto;
          right: 10%; }
        @media (max-width: 1024px) and (orientation: landscape) {
          .banner-slide .slider .item .banner-item.land-xs-top {
            top: 10%;
            bottom: auto; }
          .banner-slide .slider .item .banner-item.land-xs-middle {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%); }
            .banner-slide .slider .item .banner-item.land-xs-middle.land-xs-center {
              transform: translateX(-50%) translateY(-50%); }
          .banner-slide .slider .item .banner-item.land-xs-bottom {
            top: auto;
            bottom: 50%; }
          .banner-slide .slider .item .banner-item.land-xs-left {
            left: 10%;
            right: auto; }
          .banner-slide .slider .item .banner-item.land-xs-center {
            left: 50%;
            right: auto;
            transform: translateX(-50%); }
          .banner-slide .slider .item .banner-item.land-xs-right {
            left: auto;
            right: 10%; } }
        @media (min-width: 1025px) and (orientation: landscape) {
          .banner-slide .slider .item .banner-item.land-lg-top {
            top: 10%;
            bottom: auto; }
          .banner-slide .slider .item .banner-item.land-lg-middle {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%); }
            .banner-slide .slider .item .banner-item.land-lg-middle.land-lg-center {
              transform: translateX(-50%) translateY(-50%); }
          .banner-slide .slider .item .banner-item.land-lg-bottom {
            top: auto;
            bottom: 50%; }
          .banner-slide .slider .item .banner-item.land-lg-left {
            left: 10%;
            right: auto; }
          .banner-slide .slider .item .banner-item.land-lg-center {
            left: 50%;
            right: auto;
            transform: translateX(-50%); }
          .banner-slide .slider .item .banner-item.land-lg-right {
            left: auto;
            right: 10%; } }
        @media (max-width: 600px) and (orientation: portrait) {
          .banner-slide .slider .item .banner-item.port-xs-top {
            top: 10%;
            bottom: auto; }
          .banner-slide .slider .item .banner-item.port-xs-middle {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%); }
            .banner-slide .slider .item .banner-item.port-xs-middle.port-xs-center {
              transform: translateX(-50%) translateY(-50%); }
          .banner-slide .slider .item .banner-item.port-xs-bottom {
            top: auto;
            bottom: 10%; }
          .banner-slide .slider .item .banner-item.port-xs-left {
            left: 10%;
            right: auto; }
          .banner-slide .slider .item .banner-item.port-xs-center {
            left: 50%;
            right: auto;
            transform: translateX(-50%); }
          .banner-slide .slider .item .banner-item.port-xs-right {
            left: auto;
            right: 10%; } }
        @media (min-width: 601px) and (orientation: portrait) {
          .banner-slide .slider .item .banner-item.port-lg-top {
            top: 10%;
            bottom: auto; }
          .banner-slide .slider .item .banner-item.port-lg-middle {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%); }
            .banner-slide .slider .item .banner-item.port-lg-middle.port-lg-center {
              transform: translateX(-50%) translateY(-50%); }
          .banner-slide .slider .item .banner-item.port-lg-bottom {
            top: auto;
            bottom: 10%; }
          .banner-slide .slider .item .banner-item.port-lg-left {
            left: 10%;
            right: auto; }
          .banner-slide .slider .item .banner-item.port-lg-center {
            left: 50%;
            right: auto;
            transform: translateX(-50%); }
          .banner-slide .slider .item .banner-item.port-lg-right {
            left: auto;
            right: 10%; } }

.banner-faixa-bottom {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  /*transform: translateY(-100%);
  margin-top: 1px;*/ }

/*# sourceMappingURL=front.css.map */
